<div class="title-header text-uppercase">
  <p>Equipa</p>
</div>
<div class="about-container">

  <div class="left-div" >
    <img class="avatar" src="assets/squeleton.jpg" />
  </div>
  <div class="text-white right-div">
    <p>Lorem ipsum dolor sit amet, vim adhuc iudico ad, ut has ipsum persequeris. Te corpora sapientem ocurreret est, nostrud suscipit pro ex. Quo esse nostrum luptatum ex, et sit alienum albucius periculis. Qui quod libris adolescens et. Cum reprimique disputationi at, te facer maiestatis his. Has in zril iuvaret, iisque mnesarchum at vis, ei sapientem mnesarchum adipiscing vis.

      Pro an indoctum liberavisse, est conceptam democritum ne, nam stet nihil quaeque in. Has verear facilis consectetuer ad, laoreet nusquam singulis vix at. Cu duo malis nostrud volumus, iusto recteque ex mei, id lobortis contentiones necessitatibus mei. Oratio nemore ne vel, ne semper copiosae dissentias has.

      Solum novum exerci no his, ut duo clita legendos tacimates. Esse solum laboramus eum id, utinam aliquam percipitur ei sed. Mea novum nominati eu, usu te elitr legere definitionem. Mei et sanctus vocibus interesset. Eos sint commodo nominati ad, tollit tibique sensibus est cu, an nec iusto possim iuvaret. Eam te summo efficiendi, ei laudem impedit molestiae pri.

      Menandri partiendo et vis. Et quo quando voluptatum scribentur, per esse posse cu. Brute laoreet id vix, ludus quaeque in cum, eu facilis suscipit duo. Est et diceret detraxit. Quo te enim harum utinam. Ut hinc appareat argumentum vis, ut eum adhuc dolor. Id pri diceret detraxit contentiones, eu usu veri dolorum, te omnium inermis cum.

      Sint vivendo honestatis sea cu, nibh natum pro ad, nam cu utinam altera. Consul cetero prodesset pro ut. At nam utinam integre, eos id porro veniam, ea malorum appetere sed. Quis voluptua periculis sea cu, quem mutat integre nam ut, persius delenit appetere eos ut. Aperiri debitis constituto ei nam.</p>
  </div>
  <hr>
  <div class="left-div" >
    <img class="avatar" src="assets/squeleton.jpg" />
  </div>
  <div class="text-white right-div">
    <p>Lorem ipsum dolor sit amet, vim adhuc iudico ad, ut has ipsum persequeris. Te corpora sapientem ocurreret est, nostrud suscipit pro ex. Quo esse nostrum luptatum ex, et sit alienum albucius periculis. Qui quod libris adolescens et. Cum reprimique disputationi at, te facer maiestatis his. Has in zril iuvaret, iisque mnesarchum at vis, ei sapientem mnesarchum adipiscing vis.

      Pro an indoctum liberavisse, est conceptam democritum ne, nam stet nihil quaeque in. Has verear facilis consectetuer ad, laoreet nusquam singulis vix at. Cu duo malis nostrud volumus, iusto recteque ex mei, id lobortis contentiones necessitatibus mei. Oratio nemore ne vel, ne semper copiosae dissentias has.

      Solum novum exerci no his, ut duo clita legendos tacimates. Esse solum laboramus eum id, utinam aliquam percipitur ei sed. Mea novum nominati eu, usu te elitr legere definitionem. Mei et sanctus vocibus interesset. Eos sint commodo nominati ad, tollit tibique sensibus est cu, an nec iusto possim iuvaret. Eam te summo efficiendi, ei laudem impedit molestiae pri.

      Menandri partiendo et vis. Et quo quando voluptatum scribentur, per esse posse cu. Brute laoreet id vix, ludus quaeque in cum, eu facilis suscipit duo. Est et diceret detraxit. Quo te enim harum utinam. Ut hinc appareat argumentum vis, ut eum adhuc dolor. Id pri diceret detraxit contentiones, eu usu veri dolorum, te omnium inermis cum.

      Sint vivendo honestatis sea cu, nibh natum pro ad, nam cu utinam altera. Consul cetero prodesset pro ut. At nam utinam integre, eos id porro veniam, ea malorum appetere sed. Quis voluptua periculis sea cu, quem mutat integre nam ut, persius delenit appetere eos ut. Aperiri debitis constituto ei nam.</p>
  </div>
</div>
