<div class="title-header text-uppercase">
  <p>Contactos</p>
</div>
<div class="container container-fluid text-center text-md-left">
  <div class="row">

    <hr class="clearfix w-100 d-md-none pb-12">
    <div class="col-md-6 mb-md-0 mb-6">
      <h5 class="text-uppercase footer-text-color">Segue-nos</h5>
      <p class="footer-text-color link-social" (click)="onClickFacebook()">
        <i class="fa fa-facebook-square"></i> Facebook
      </p>
      <p class="footer-text-color link-social" (click)="onClickInstagram()">
        <i class="fa fa-instagram"></i> Instagram
      </p>
    </div>
    <div class="col-md-6 mb-md-0 mb-6">
      <h5 class="text-uppercase footer-text-color">Onde estamos</h5>
      <p class="footer-text-color">
        <i class="fa fa-map-marker"></i> Largo do Conselheiro Queiroz Nº16, <br> 3810-090 Aveiro
      </p>
      <a class="phone" href="mailto:example@test.com">
        <p class="footer-text-color">
          <i class="fa fa-envelope"></i> gomove@test.com
        </p>
      </a>
      <p class="footer-text-color">
        <i class="fa fa-phone"></i> 96666666
      </p>
    </div>
  </div>
</div>
