@import "../../variables.scss";

.login-label{
  color: $contrast-color-2;
}

.login-message{
  color: red;
  padding-left: 10px;
}

.submit-button-div{
  padding-left: 10px;
}

.submit-button{
  background-color: $contrast-color !important;
}

