<div class="title-header text-uppercase">
    <p>Instalações</p>
  </div>

<div class="carousel-container">
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <img class="d-block w-100 carousel-image" src="assets/lamp.jpg" alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100 carousel-image" src="assets/garden.jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100 carousel-image" src="assets/squeleton.jpg" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>
</div>
