@import "../../variables.scss";

.carousel-item > .view.hm-black-light {
    display: flex;
    justify-content: center;
    width: 100%;
    }

.carousel-image{
    max-height: 400px;
}

.text-title{
    font-size: 150%;
    padding-top: 3%;
}

.carousel-container{
    max-width: 600px !important;
    margin-left: auto;
    margin-right: auto;
}

.carousel .carousel-control-next-icon {
  background-image: url("../../assets/chevron_right.png") !important;
}

.carousel .carousel-control-prev-icon {
  background-image: url("../../assets/chevron_left.png");
}

.title-header{
  color: $contrast-color-2;
  text-align: center;
  font-size: 300%;
  padding-top: 10%;
  padding-bottom: 10%;
}
